.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  background-color: black;
}

/* Estilizações da logo do header */

.header-logo {
  color: yellow;
  font-size: 1.8rem;
}

/* Estilizações dos links do header */
.header-links {
  color: white;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-left: 10px;
  text-decoration-color: yellow;
}

.header-links a + a {
  margin-left: 15px;
}

/* Estilizações do input do header */
.header-input input {
  background-color: white;
}
